{% extends "index.html" %}
{% block menu %}
{% include "menu.html" %}
{%endblock %}
{% block contenido %}
<style>
    .ini {
        color: #fff;
        text-align: center;
        padding: 20px 0;
    }

    h1 {
        font-size: 36px;
    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #514b4b;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    .objetivos {
        margin-top: 30px;
    }

    .objetivos h2 {
        font-size: 24px;
    }

    .objetivos p {
        font-size: 16px;
    }
</style>
</head>

<body>
    <div class="ini">
        <h1 id="titulo">Guardianes del Oso Hormiguero</h1>
        <p style="color: black">En busca de la recuperacion del Vermilingua</p>
    </div>

    <div class="container">
        
        <div class="objetivos">
            <h2 style="text-align: center; color: white;" >Objetivos</h2>
            <p style="color: white;">Los objetivos de la organización Guardianes del Oso Hormiguero están diseñados para abordar de manera integral la conservación de los osos hormigueros y su ecosistema. Estos objetivos abarcan desde la protección directa de la especie hasta la concientización pública y el fortalecimiento de la infraestructura de conservación. Aquí te presento algunos de los objetivos clave de la organización:
            </p>
            <p style="color: white;">1. Protección de la Especie del Oso Hormiguero
                Objetivo general: Proteger y conservar las poblaciones de oso hormiguero en peligro de extinción en su hábitat natural.
                </p>    
            </p>    
            <p style="color: white;">    2. Restauración y Conservación del Hábitat Natural
                Objetivo general: Restaurar y preservar los ecosistemas naturales donde habita el oso hormiguero, en especial las selvas y bosques tropicales.
            </p> 
            <p style="color: white;">3. Sensibilización y Educación Ambiental
                Objetivo general: Concienciar a las comunidades locales y a la población global sobre la importancia del oso hormiguero y su rol en el ecosistema.
            </p> 
            <p style="color: white;"> 4. Fomento de la Investigación Científica
                Objetivo general: Promover la investigación científica para mejorar el conocimiento sobre el oso hormiguero y las mejores prácticas de conservación.
            </p> 
            <p style="color: white;"> 5. Desarrollo de Alternativas Económicas Sostenibles
                Objetivo general: Generar fuentes de ingresos sostenibles para las comunidades locales mediante prácticas que no perjudiquen el ecosistema ni a la fauna.
            </p> 
            <p style="color: white;">6. Colaboración y Alianzas Internacionales
                Objetivo general: Establecer alianzas con organizaciones internacionales, gobiernos y empresas para fortalecer la conservación del oso hormiguero y su hábitat.
            </p> 
            <p style="color: white;">7. Promoción de Políticas Públicas y Legislación de Conservación
                Objetivo general: Influir en la creación y ejecución de políticas públicas que garanticen la protección del oso hormiguero y sus hábitats.
            </p> 
            <p style="color: white;">Este enfoque multifacético, que integra la protección directa, la restauración ambiental, la educación y la colaboración, ha sido clave para que "Guardianes del Oso Hormiguero" haya podido avanzar en su misión y seguir luchando por la preservación de esta especie tan especial. </p>
            </p> 
       </div>

    </div>

{%endblock %}
{% block piePagina %}
{% include "piePagina.html" %}
{%endblock %}